section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#about {
    position: relative;
    .id-pic {
        width: 200px;
        box-shadow: 2px 2px rgba(232, 232, 232, 0.2);
        position: relative;
        h3 {
            position: absolute;
            top: 10%;
            left: 75%;
            padding: 10px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

}

